@use "../../mixin.scss" as mixin;

.iconContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: 2px solid mixin.$maincolor;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &.small {
    width: 60px;
    padding: 10px;
  }
  &.big {
    width: 125px;
    padding: 25px;
  }
  img {
    width: 100%;
    z-index: 1;
  }
}

.small::before {
  content: "";
  background-color: mixin.$accentcolor;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.big::before {
    content: "";
    background-color: mixin.$accentcolor;
    width: 125px;
    height: 125px;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }

.iconContainer:hover::before {
  transform: scale(1);
}

// &.big{
//     width: 125px;
//     height: 125px;
//   }
//   &.small{
//     width: 60px;
//     height: 60px;
//   }